NODE_ENV=production
PORT=3000
SQLITE_DB_PATH=./data/app.sqlite
MAX_PAGES_TO_ANALYZE=25
REQUEST_TIMEOUT_MS=12000

OPENAI_API_KEY=
ADMIN_USER=admin
ADMIN_PASS=schimba_parola_aici

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
