@import './base/tokens.css';
@import './base/reset.css';
@import './base/typography.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/page.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
