<header class="site-header" role="banner">
  <div class="site-header__inner">
    <a class="site-header__brand" href="/">Site Blueprint</a>
    <nav class="site-header__nav" aria-label="Navigare principală">
      <ul class="site-header__list">
        <li class="site-header__item"><a class="site-header__link" href="/">Acasă</a></li>
        <li class="site-header__item"><a class="site-header__link" href="/despre-noi">Despre noi</a></li>
      </ul>
    </nav>
  </div>
</header>
